<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<script src="/static/js/login.js"></script>
		<script src="/static/js/libs/bootstrap.min.js"></script>
		<script src="/static/js/libs/jquery-3.3.1.js"></script>
		<title>Index</title>
	</head>
	<body>
		<div align="center">
			<img src="/static/images/cs.png" alt="">
			<h1>DBP</h1>
			<h2>Arleth Lapa</h2>
	    <h3>201610599</h3>
			<a class="btn btn-outline-info" href="static/html/login.html" role="button"> LOGIN </a>
		</div>
	</body>
</html>
